@media only screen and (max-width: 1440px){
html, body{width:100%; height:100%; overflow-x:hidden;}
	#w {
text-align: justify;
width: 100%;

	}
	#particles-js {
		width: 100%;
		
	}
.b1, .b2, .b3, .b4 {
background-position: right bottom;
border-radius: 100%;
width: 240px;
height: 240px;
margin: 0px 10px 10px 70px;
justify-content: center;
display: inline-block;
opacity: 1;

}
.b1{
	position: relative;

	top: -140px;
 background: url(../image/1990041.png) repeat-y #0B2827;}
.b2{
	position: relative;
	left: 30px;
	top: -140px;
 background: url(../image/5921b9398b2a815c2bbb88e2.png) repeat-y #0B2827;
}
.b3{
	position: relative;
	top: -130px;
	left: 70px;
	 background: url(../image/16686.png) repeat-y #0B2827;
}
.b4{
	position: relative;
	top: -130px;
	left: 120px;
	 background: url(../image/unnamed.png) repeat-y #0B2827;
}
.battons {
	width: 100%;
	height: 700px;	
}
#zag {
	font-size: 100px;
}
p {
	font-size: 26px;
	opacity: 0;
	align: center;
}
#novprof, #helpful, #next, #education{
	width: 100%;
	left: 0px;
}
iframe{
	display: block;
	positiom: relative;
	width: 200px;
}
video {
	position: relative;
 left: 30px;
}
img{
	position: relative;
	align: center;
	display: inline-block;
}
 #next {
	display: inline-block;
	position: relative;
	width: 90%;
	height: 20%;
}
}

@media only screen and (max-width: 640px){
	html, body{width:100%; height:100%; overflow-x:hidden; box-sizing: border-box; }

	#w {
		box-sizing: border-box;
text-align: justify;
	}
	#particles-js {
		width: 100%;
		
	}
.b1, .b2, .b3, .b4 {
border-radius: 0%;
width: 200px;
height: 40px;
position: relative;
 background: #0C5F57;
font-family: Century Gothic;

}
.b1{
	position: relative;
right: 50px;
	top: -180px;
}
.b2{
	position: relative;
	left: 50px;
	top: -230px;

}
.b3{
	position: relative;
	top: -270px;
	right: 50px;
}
.b4{
	position: relative;
	top: -280px;
	left: 50px;
	
}
.b1 p{
	position: relative;
	top: -150px;
}
.b2 p{
	position: relative;
	top: -150px;
}
.b3 p{
	position: relative;
	top: -150px;
}
.b4 p{
	position: relative;
	top: -150px;
}
.battons {
	width: 100%;
	height: 700px;	
}
#zag {
	font-size: 50px;
}
p {
	font-size: 20px;
	opacity: 1;
	align: center;
}
#novprof, #helpful, #next, #education{
	width: 100%;
	left: 0px;
}
iframe{
	display: block;
	positiom: relative;
	width: 200px;
}
video {
	position: relative;
 left: 30px;
 width: 350px;
 height: 200px;
}
img{
	position: relative;
	align: center;
	display: inline-block;
	width: 110%;
}
 #next img{
	width: 90%;
	
}
}


@media only screen and (max-width: 1370px)
{html, body{width:100%; height:100%; overflow-x:hidden;}
		#w {
text-align: justify;
box-sizing: border-box;
	}
	#particles-js {
		width: 100%;
		height: 750px;
	
	}
.b1, .b2, .b3, .b4 {
background-position: right bottom;
border-radius: 100%;
width: 240px;
height: 240px;
margin: 0px 10px 10px 70px;
justify-content: center;
display: inline-block;
opacity: 1;

}
.b1{
	position: relative;
left: -50px;
	top: -140px;
 background: url(../image/1990041.png) repeat-y #0B2827;}
.b2{
	position: relative;
	left: -10px;
	top: -140px;
 background: url(../image/5921b9398b2a815c2bbb88e2.png) repeat-y #0B2827;
}
.b3{
	position: relative;
	top: -130px;
	left: 10px;
	 background: url(../image/16686.png) repeat-y #0B2827;
}
.b4{
	position: relative;
	top: -130px;
	left: 30px;
	 background: url(../image/unnamed.png) repeat-y #0B2827;
}
.battons {
	width: 100%;
	height: 250px;	
}
#zag {
	font-size: 100px;
}
p {
	font-size: 26px;
	opacity: 0;
	align: center;
}
#novprof, #helpful, #next, #education{
	width: 98%;
	left: 10px;
	position: relative;
}
iframe{
	display: block;
	position: relative;
	width: 200px;
}
video {
	position: relative;
 left: 30px;
}
img{
	position: relative;
	align: center;
	display: inline-block;
}
 #next {
	display: inline-block;
	position: relative;
	width: 98%;
	height: 20%;
}
#education{
	text-align: left;
}
}








@media only screen and (max-width: 721px){
	#wrapper {
    width:720px;
    margin-right:auto;
    margin-left:auto;
    margin-top:10px;    
 
}
	html, body{width:100%; height:100%; overflow-x:hidden; }
	#w {
text-align: justify;
box-sizing: border-box;
padding: 0px;
	}
	#particles-js {
		width: 100%;

	height: 100%;
	overflow-y:hidden;
	overflow-x:hidden;
	}
.b1, .b2, .b3, .b4 {
background-position: right bottom;
border-radius: 100%;
width: 230px;
height: 230px;
margin: 0px 10px 10px 70px;
justify-content: center;
display: inline-block;
opacity: 1;

}
.b1{
	position: relative;
left: -20px;
	top: -140px;
 background: url(../image/1990041.png) repeat-y #0B2827;}
.b2{
	position: relative;
	left: 20px;
	top: -140px;
 background: url(../image/5921b9398b2a815c2bbb88e2.png) repeat-y #0B2827;
}
.b3{
	position: relative;
	top: -40px;
	left: -10px;
	 background: url(../image/16686.png) repeat-y #0B2827;
}
.b4{
	position: relative;
	top: -40px;
	left: 20px;
	 background: url(../image/unnamed.png) repeat-y #0B2827;
}
.battons {
	width: 100%;
	height: 700px;	
}
#zag {
	font-size: 90px;
}
p {
	font-size: 26px;
	opacity: 0;
	align: center;
}
#novprof, #helpful, #next, #education{
	width: 98%;
	left: 10px;
	position: relative;
}
iframe{
	display: block;
	position: relative;
	width: 200px;
}
video {
	position: relative;
 left: 30px;
}
img{
	position: relative;
	align: center;
	display: inline-block;
}
 #next {
	display: inline-block;
	position: relative;
	width: 98%;
	height: 20%;
}
#education{
	text-align: left;
}
}