body{
	height: 100%;
	padding:0;
	margin: 0 auto;
	width: 100%;
}

#p{
	width: 100px;
	height: 400px;
}
#p2{
	width: 300px;
	height: 400px;
}
#q{

height: 950px;
width: 100%;
position: static;
background:#110D65 ;
z-index: 1;
display: block;
}
#w{

width: 100%;
position: absolute;

background-color: white;
}

#zag{
height: 300px;
width: 98.9473684%;

position: absolute;
top: 70px;
font-family: Century Gothic;
font-size: 140px;
color: white;
}
#footer {
background:#040050;
height: 150px;
width: 1900px;
border: 4px solid #02002A;
}

#vaprosi{

width: 1880px;
	height: 229px;

}



.battons{
	max-width:100%;
width: 98.9473684%;
	height: 250px;

	position: absolute;
top: 500px;
Justify-content: space-evenly;
}
.b1{
	max-width:100%;
border-radius: 50%;
width: 13.1578947%;
height: 250px;
margin: 0px 10px 10px 70px;
 background: url(../image/1990041.png) repeat-y #0B2827;
display: inline-block;
opacity: 1;
}
.b2{
	max-width:100%;
border-radius: 50%;
width: 13.1578947%;
height: 250px;
margin: -50px 0px 10px 220px;
 background: url(../image/5921b9398b2a815c2bbb88e2.png) repeat-y #0B2827;
display: inline-block;
opacity: 1;
}
.b3{
	max-width:100%;
border-radius: 50%;
width: 13.1578947%;
height: 250px;
margin: -50px 0px 10px 250px;
 background: url(../image/16686.png) repeat-y #0B2827;
display: inline-block;
opacity: 1;
}
.b4{
	max-width:100%;
border-radius: 50%;
width: 13.1578947%;
height: 250px;
margin: -50px 0px 10px 280px;
 background: url(../image/unnamed.png) repeat-y #0B2827;
display: inline-block;
opacity: 1;
}
.ed1{
	width: 240px;
height: 40px;
position: relative;
 background: #0C5F57;
font-family: Century Gothic;
}
.prev{
	width: 240px;
height: 40px;
position: relative;
 background: #0C5F57;
font-family: Century Gothic;
}
.next{
	width: 240px;
height: 40px;
position: relative;
 background: #0C5F57;
font-family: Century Gothic;

}

#particles-js{

height: 100%;
position: static;
background:#063B3A ;

z-index: -3;
}


a:hover{
color: white;
}	
p {
opacity: 0;
font-size: 30px;
font-family: Century Gothic;
line-height: 300px;
text-align: center;
color: #F60C00;
transition: .5s ease;
font-weight: 700;
}



.b1:hover{
box-shadow: 12px 13px 18px 15px #12201F; 
opacity: 0.7;
transition: .5s ease;
cursor: pointer;
}
.b2:hover{
box-shadow: 12px 13px 18px 15px #12201F; 
opacity: 0.7;
transition: .5s ease;
}
.b3:hover{
box-shadow: 12px 13px 18px 15px #12201F; 
opacity: 0.7;
transition: .5s ease;
}
.b4:hover{
box-shadow: 12px 13px 18px 15px #12201F; 
opacity: 0.7;
transition: .5s ease;
}





.b1:hover p{
opacity: 1;
background: rgba (0, 0,0, 1);
cursor: pointer;
	
}
.b2:hover p{
opacity: 1;
background: rgba (0, 0,0, 1);
cursor: pointer;	
}
.b3:hover p{
opacity: 1;
background: rgba (0, 0,0, 1);
cursor: pointer;	
}	
.b4:hover p{
opacity: 1;
background: rgba (0, 0,0, 1);
cursor: pointer;	
}
.ed1:hover{
box-shadow: 12px 6px 0px 5px #083B36; 

transition: .5s ease;
cursor: pointer;
}










#novprof {
width: 1320px;
height: 100%;

font-family: Century Gothic;
position: relative;
left: 300px;	
font-size: 25px; 	
}
#helpful {
width: 1320px;
height: 100%;

font-family: Century Gothic;
position: relative;
left: 300px;	
font-size: 25px; 	
}
#next {
width: 1320px;
height: 100%;
text-align: left;
font-family: Century Gothic;
position: relative;
left: 300px;	
font-size: 25px; 	
}
#education {
width: 1320px;
height: 100%;

font-family: Century Gothic;
position: relative;
left: 300px;	
font-size: 25px; 	

}
li {
	margin: 20px;
   }

   b {
	   text-align: justify;
   }


#wrapper {
    width:1800px;
    margin-right:auto;
    margin-left:auto;
    margin-top:10px;    
 
}















.flexible-image{
	max-width: 100%;
	float: none;
}
.footer {
	border: 4px solid #001B1E;
	background: #002E32;
	font-family: Century Gothic;
	font-size: 30px;
	color: #BEA921;
	height: 100px;
	width: 100%;
	position: absolute;
	margin: 30px 0px 0px 0px;
padding: 30px 0px 0px 0px;
}

	
