@media only screen and (max-width: 1200px){
	#particles-js {
		width: 100%;
		height: 100%;
	}
.b1, .b2, .b3, .b4 {
width: 240px;
height: 50px;
position: relative;
 background: #0C5F57;
font-family: Century Gothic;
border-radius: 0%;
text-align: top;
}
.battons {
	width: 100%;
	height: 700px;	
}
#zag {
	font-size: 100px;
}
p {
	font-size: 20px;
	opacity:1;
	align: center;
}
#novprof, #helpful, #next, #education{
	width: 100%;
	left: 0px;
}
iframe{
	display: block;
	positiom: relative;
	width: 200px;
}
video {
	position: relative;
 left: -30px;
}
}